# Dependencies
node_modules

# Build outputs
dist
build

# Environment files
.env
.env.*

# Logs
*.log
logs/

# Coverage
coverage

# Cache
.cache

# Uploads
uploads/

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Database
*.sqlite
*.db
